<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>

<body>
    <div id="event-with-method">
      姓：<input type="text" v-model="firstName" ></input><br/>
      名：<input type="text" v-model="lastName" ></input><br/>
      全名:<sapn>{{ fullName }} {{firstName}}</sapn>
      
    </div>

</body>

<script type="text/javascript">
const app = Vue.createApp({
data:{
      firstName: '张',
      lastName:'三',
      
  },
  methods: {
    fullName(){
      return '测试'
    }
  },

})


const vm = app.mount('#event-with-method')  
console.log(vm)      
</script>

</html>